In [47]:
a = [1,2,3,4]

In [2]:
a

[1, 2, 3, 4]

In [3]:
a[2]

3

In [6]:
a[0:3:1]

[1, 2, 3]

In [7]:
a[-1]

4

In [8]:
a[-6]

IndexError: list index out of range

In [9]:
len(a)

4

In [10]:
a[-4]

1

In [11]:
a.append(5
        )

In [12]:
a

[1, 2, 3, 4, 5]

In [13]:
a.pop()

5

In [14]:
a.pop(0)

1

In [15]:
a

[2, 3, 4]

In [16]:
a.insert(0,1)

In [17]:
a

[1, 2, 3, 4]

In [18]:
a.append(5)

In [19]:
a

[1, 2, 3, 4, 5]

In [24]:
for item in a:
      print(item)

1
2
3
4
5

len(a)

In [25]:
len(a)

5

In [26]:
range(5)

range(0, 5)

In [27]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range(len(a)):
    print(a[i])

1
2
3
4
5

In [30]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [34]:
for t in enumerate(a):
    print(t)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [35]:
a,b,c = 1,2,3

In [36]:
a

1

In [37]:
b

2

In [38]:
c

3

In [39]:
l = [1,2,3]

In [40]:
ip, port, username = l

In [41]:
ip

1

In [42]:
port

2

In [43]:
range(8)

range(0, 8)

In [44]:
range(3,9)

range(3, 9)

In [46]:
for i in range():
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87

In [48]:
A

NameError: name 'A' is not defined

In [49]:
a

[1, 2, 3, 4]

In [51]:
for i in a[3:]:
    print(i)

4

In [52]:
a,b = 0,1

In [54]:
while b<100:
    a,b = b, a+b
    print(b)

1
2
3
5
8
13
21
34
55
89
144

In [55]:
a = [1,2,3]

In [56]:
b = a

In [58]:
b.append(4)

In [59]:
b

[1, 2, 3, 4]

In [60]:
a

[1, 2, 3, 4]

In [61]:
b = a.copy()

In [62]:
b

[1, 2, 3, 4]

In [63]:
b.append(5)

In [64]:
a

[1, 2, 3, 4]

In [65]:
b = a[:]

In [66]:
True

True

In [67]:
False

False

In [68]:
1 == 2

False

In [69]:
1 != 2

True

In [70]:
1<2

True

In [76]:
name = "Ibi"

In [77]:
if name == "Zoli":
    print(f"Hello {name}")
else:
    if name =="Levente":
        print("Hello Levi")
else:
    print("Hello")

Hello

In [78]:
def greet():
    print("Hello")

In [79]:
greet()

Hello

In [158]:
def greet(name, age, tittle=""):
    if type (age) != int:
        return "Age should be int"
    else:
        return f"Hello {name} you are {age} years old!"

In [167]:
print(greet(age="31", name="Levente", tittle="Mr"))

Age should be int

In [160]:
greet(age="31", name="Levente")

'Age should be int'

In [161]:
greet("Levente", 12)

'Hello Levente you are 12 years old!'

In [162]:
name = "Laci"

In [163]:
greet(name, 31)

'Hello Laci you are 31 years old!'

In [165]:
greet("%s" % ("Laci"), 12)

'Hello Laci you are 12 years old!'

In [130]:
dict()

{}

In [132]:
dict(name
     ="Levente", age=31)

{'name': 'Levente', 'age': 31}

In [133]:
d = {'name': 'Levente', 'age': 31}

In [134]:
d

{'name': 'Levente', 'age': 31}

In [136]:
d["name"]

'Levente'

In [143]:
d[True] = 1

In [149]:
d[5]="Hello"

In [150]:
d

{'name': 'Levente', 'age': 31, True: 1, 5: 'Hello'}

In [151]:
1 ==True

True

In [153]:
for k in d.keys():
    print(k)

name
age
True
5

In [154]:
d.values()

dict_values(['Levente', 31, 1, 'Hello'])

In [155]:
d.items()

dict_items([('name', 'Levente'), ('age', 31), (True, 1), (5, 'Hello')])

In [157]:
for k, v in d.items():
    print(f"{k} {v}")

name Levente
age 31
True 1
5 Hello